.container{
    height: 40vh;
    width: 50vw;
    background-color: antiquewhite;
}

.box{
    height: 4vh;
    width: 5vw;
    background-color: aquamarine;
    /* transition-property: all; */
    /* transition-property: transform; */
    /* transition-property: transform, background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s; */
    transition: all 3s cubic-bezier(0.18, 1.16, 1,-0.2) 1s;
}

.translate{
    transform: translateX(10vw) translateY(10vh) scale(5);
    background-color: red;
}